<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Questionator">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClickerSystem">
        <activity
            android:name="com.example.Questionator.C_EnterSessionIDActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.F_FinalPageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.E_AnswerOptionActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.D_WaitingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.ReferenceOnly_CountdownActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.B_RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Questionator.A_LoginPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>